
/*FLEX CODE */

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.header {
    padding: 0;
    margin-bottom: px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel-1 {
    display: flex;
    justify-content: space-evenly
    height: auto;
}

.text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 2;
    
}

/* DESIGN CODE */

.header {
    background-color: skyblue;
    padding: 24px;
    border: 16px;
    border-style: ridge;  
    font-size: large;
      
}

.title {
    font-weight: 800;
    border: 1px;
    padding: 8px;
    background-color: aliceblue;
}

.panel-1 {
    border: 16px;
    border-style: ridge;
    background-color: skyblue;
    
}

.text-1 {
    text-align: center;
    background-color: ;
    margin-right: auto
}

.title-1 {
    font-size: 28px;
    font-weight: 555;
    background-color: aliceblue;
    padding: 4px;
    margin: 8px;
}

.info-1 {
    margin: 8px;
}

.image-1 {
    height: auto;
    max-width: 50%;
    max-height: 700px;
}

.panel-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-2{
    margin: 16px;
    font-size: 32px;
    font-weight: 900;
    background-color: skyblue;
    border: 16px;
    border-style: ridge;
    padding: 8px;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    flex-wrap: wrap;
}

.box-1, .box-2, .box-3, .box-4{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.image-2, .image-3, .image-4, .image-5 {
    height: auto;
    max-height: 200px;
    border: 16px;
    border-style: ridge;
    margin: 24px;
    
}

.subtext {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 500;
    border: 16px;
    padding: 8px;
    border-style: ridge;
    text-align: center;
    background-color: skyblue;
}

a {
    text-decoration: none;
    color: white;
    padding: 4px;
    border: 1px;
    border-style: dashed;
    background-color: black;
    font-weight: 600;
}

html {
    background-color: violet;
}

div {
    font-family: 'Times New Roman', Times, serif;
}

img {
    
}